In [ ]:
!pwd

/gdrive/MyDrive/det_cultural_data

In [ ]:
# === Setting the working environment ===

# These settings are necessary to set the current directory as jupyter-notebook
# working directory

import os
from google.colab import drive

work_drive = '/gdrive'
work_dir = '/det_cultural_data'
work_area = work_drive + '/MyDrive' + work_dir

drive.mount(work_drive)
os.chdir(work_area)

# If you are working from your computer, comment the previous lines adding an #
# at the beginning of each line and use the following lines instead.
# import os
# work_area = 'working_directory'
# os.chdir(work_area)

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
data_file = 'data/data.csv'

In [ ]:
data_file

'data/data.csv'

In [ ]:
df = pd.read_csv(data_file)

In [ ]:
1df

,Year of arrival at port of disembarkation,Voyage ID,Vessel name,Voyage itinerary imputed port where began (ptdepimp) place,Voyage itinerary imputed principal place of slave purchase (mjbyptimp),Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place,VOYAGEID2,Captives arrived at 1st port,Captain's name
0,1714.0,16109,Freeke Gally,Bristol,NaN,Kingston,NaN,283.0,"Neale, Alexander"
1,1713.0,16110,Greyhound Gally,Bristol,NaN,"Jamaica, place unspecified",NaN,NaN,"Selkirk, Alexander<br/> Forrest, Henry"
2,1714.0,16111,Jacob,Bristol,NaN,Kingston,NaN,130.0,"Nicholls, Philip"
3,1714.0,16112,Jason Gally,Bristol,NaN,Port Royal,NaN,278.0,"Plummer, John"
4,1713.0,16113,Lawford Gally,Bristol,"Africa, port unspecified",Newcastle (Nevis),NaN,NaN,"Stretton, Joseph"
...,...,...,...,...,...,...,...,...,...
36146,1850.0,900234,Duas Clementinas,Rio de Janeiro,Benguela,Rio de Janeiro,NaN,NaN,NaN
36147,1851.0,900235,NaN,Havana,Benguela,NaN,NaN,NaN,NaN
36148,1851.0,900236,Rio TÃ¢mega,"Southeast Brazil, port unspecified",Benguela,Rio de Janeiro,NaN,NaN,NaN
36149,1851.0,900237,Rosa,Rio de Janeiro,Benguela,Rio de Janeiro,NaN,NaN,NaN
36150,1746.0,17144,Marlborough,Bristol,Calabar,Kingston,NaN,283.0,"Codd, Robert"

In [ ]:
df.shape

(36151, 9)

In [ ]:
df.columns

Index(['Year of arrival at port of disembarkation', 'Voyage ID', 'Vessel name',
       'Voyage itinerary imputed port where began (ptdepimp) place',
       'Voyage itinerary imputed principal place of slave purchase (mjbyptimp) ',
       'Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place',
       'VOYAGEID2', 'Captives arrived at 1st port', 'Captain's name'],
      dtype='object')

In [ ]:
voyage_id = df.iloc[:, 1]

In [ ]:
voyage_id

0         16109
1         16110
2         16111
3         16112
4         16113
          ...
36146    900234
36147    900235
36148    900236
36149    900237
36150     17144
Name: Voyage ID, Length: 36151, dtype: int64

In [ ]:
voyage_id.is_unique

True

In [ ]:
df

,Year of arrival at port of disembarkation,Voyage ID,Vessel name,Voyage itinerary imputed port where began (ptdepimp) place,Voyage itinerary imputed principal place of slave purchase (mjbyptimp),Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place,VOYAGEID2,Captives arrived at 1st port,Captain's name
0,1714.0,16109,Freeke Gally,Bristol,NaN,Kingston,NaN,283.0,"Neale, Alexander"
1,1713.0,16110,Greyhound Gally,Bristol,NaN,"Jamaica, place unspecified",NaN,NaN,"Selkirk, Alexander<br/> Forrest, Henry"
2,1714.0,16111,Jacob,Bristol,NaN,Kingston,NaN,130.0,"Nicholls, Philip"
3,1714.0,16112,Jason Gally,Bristol,NaN,Port Royal,NaN,278.0,"Plummer, John"
4,1713.0,16113,Lawford Gally,Bristol,"Africa, port unspecified",Newcastle (Nevis),NaN,NaN,"Stretton, Joseph"
...,...,...,...,...,...,...,...,...,...
36146,1850.0,900234,Duas Clementinas,Rio de Janeiro,Benguela,Rio de Janeiro,NaN,NaN,NaN
36147,1851.0,900235,NaN,Havana,Benguela,NaN,NaN,NaN,NaN
36148,1851.0,900236,Rio TÃ¢mega,"Southeast Brazil, port unspecified",Benguela,Rio de Janeiro,NaN,NaN,NaN
36149,1851.0,900237,Rosa,Rio de Janeiro,Benguela,Rio de Janeiro,NaN,NaN,NaN
36150,1746.0,17144,Marlborough,Bristol,Calabar,Kingston,NaN,283.0,"Codd, Robert"

In [ ]:
arr_year = df.iloc[:,0]

In [ ]:
arr_year.isna()

0        False
1        False
2        False
3        False
4        False
         ...
36146    False
36147    False
36148    False
36149    False
36150    False
Name: Year of arrival at port of disembarkation, Length: 36151, dtype: bool

In [ ]:
arr_year.isna().sum()

1

In [ ]:
for column_name in df.columns:
  selected_column = df[column_name]
  selected_column_na = selected_column.isna()
  n_nan = selected_column_na.sum()
  print(column_name,'has',n_nan,'NaN')

Year of arrival at port of disembarkation has 1 NaN
Voyage ID has 0 NaN
Vessel name has 1614 NaN
Voyage itinerary imputed port where began (ptdepimp) place has 4508 NaN
Voyage itinerary imputed principal place of slave purchase (mjbyptimp)  has 2210 NaN
Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place has 4191 NaN
VOYAGEID2 has 36101 NaN
Captives arrived at 1st port has 17743 NaN
Captain's name has 4028 NaN

In [ ]:
# Select our target columns for clearning the data
column_to_remove = 'VOYAGEID2'
column_to_remove_nan = 'Captives arrived at 1st port'

# Perform Data Cleaning visualising the result step by step
# step1, removing column VOYAGEID2 from the DataFrame
cleaned_df_step1 = df.drop(column_to_remove,axis=1)
cleaned_df_step1.head(5)

,Year of arrival at port of disembarkation,Voyage ID,Vessel name,Voyage itinerary imputed port where began (ptdepimp) place,Voyage itinerary imputed principal place of slave purchase (mjbyptimp),Voyage itinerary imputed principal port of slave disembarkation (mjslptimp) place,Captives arrived at 1st port,Captain's name
0,1714.0,16109,Freeke Gally,Bristol,NaN,Kingston,283.0,"Neale, Alexander"
1,1713.0,16110,Greyhound Gally,Bristol,NaN,"Jamaica, place unspecified",NaN,"Selkirk, Alexander<br/> Forrest, Henry"
2,1714.0,16111,Jacob,Bristol,NaN,Kingston,130.0,"Nicholls, Philip"
3,1714.0,16112,Jason Gally,Bristol,NaN,Port Royal,278.0,"Plummer, John"
4,1713.0,16113,Lawford Gally,Bristol,"Africa, port unspecified",Newcastle (Nevis),NaN,"Stretton, Joseph"